
[data-novi-id="10"]{
  color: #ffffff;
}
[data-novi-id="14"]{
  color: #ffffff;
}
[data-novi-id="13"]{
  color: #fff;
}
[data-novi-id="12"]{
  color: #ffffff;
}
[data-novi-id="11"]{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
[data-novi-id="10"]{
  font-size: 100px;
}
[data-novi-id="9"]{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
[data-novi-id="8"]{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
[data-novi-id="7"]{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
[data-novi-id="6"]{
  
  font-weight: 400;
  
}
[data-novi-id="5"]{
  font-size: 100px;
  font-size: 100px;
}
[data-novi-id="4"]{
  color: rgb(56, 56, 59);
  font-size: 40px;
}
[data-novi-id="3"]{
  font-weight: 400;
  color: rgb(112, 112, 112);
}
[data-novi-id="2"]{
  font-weight: 400;
}
[data-novi-id="1"]{
  color: #0099FF;
}
[data-novi-id="0"]{
  font-size: 19px;
  font-weight: 400;
}
